@charset "UTF-8";

@media screen and (min-width: 840px) {
    body{
        background-image: linear-gradient(to top, green, rgb(130, 240, 130));
    }
    
    #login{
        min-width: 820px;
        height: 350px;
    }

    #login #imagem{
        float: left;
        width: 50%;
        height: 100%;
        background-position: center center;
    }

    #login #formulario{
        float: right;
        width: 50%;
    }


    
}